{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% placeholder 'col-1'  or %}
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            {% endplaceholder %}
        </div>
        <div class="col-md-4 col-md-offset-1">
            {% placeholder 'col-2'  or %}
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            {% endplaceholder %}
        </div>
    </div>
{% endblock %}
